.nav {
  height: 15vh;
  background-color: $nav-grey;
  display: flex;
}

.nav__cnt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 80%;
  margin: 0 auto;
}

.nav__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 30%;
}

.nav__link {
  width: 25%;
  flex-wrap: nowrap;
}

.nav__link a {
  text-decoration: none;
}

.img {
  max-width: 90%;
  max-height: 90%;
}
