html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	min-height: 100vh;
}

@import "./coffee.scss";
@import "./contact.scss";
@import "./footer.scss";
@import "./menu.scss";
@import "./navigation.scss";
