html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
}

$nav-grey: #f8f9fa;
$nav-text: #848585;
$fot-grey: #343a40;
$clr-link: #11a0ff;

// @import "/src/scss/coffee.scss";
// @import "/src/scss/contact-form.scss";
// @import "/scss/footer.scss";
// @import "/scss/menu.scss";
@import "navigation.scss";
@import "menu.scss";
@import "coffee.scss";
@import "contact.scss";
@import "footer.scss";
